@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #e7f2fd;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative; /* Adicionado para o alinhamento do título e da barra de pesquisa */
  margin: 20px 0;
}

.sidebar-toggle-button {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  background: #4070f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 1001; /* Garante que o botão fique acima de outros elementos */
}

.gallery-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative; /* Para o posicionamento do ícone dentro da barra de pesquisa */
}

.search-bar {
  width: 50%;
  padding: 10px 40px 10px 15px; /* Adiciona espaço para o ícone */
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background: #fff;
}

.search-bar::before {
  content: "🔍";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.add-image-button {
  margin-top: 65px;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #4070f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #4070f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filterable_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card_body {
  padding: 15px 20px 20px;
}

.card_title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.card_text {
  font-size: 18px;
  color: #333;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #4070f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clickable-image {
  cursor: pointer;
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.expanded-img {
  max-width: 90%;
  max-height: 90%;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: red;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}


.delete-button {
  padding: 10px 20px;
  background-color: #ff4d4d; /* Vermelho suave */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #e60000; /* Vermelho mais intenso ao passar o mouse */
}


.add-category-button {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #4070f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
